/* .container {
  width: 90%;
} */
.tracking {
  margin: 5rem auto;
  width: 60%;
  border: 2px solid rgb(238, 238, 238);
  @apply rounded-md text-center;
}
.stats {
  border-bottom: 2px solid rgb(238, 238, 238);
  @apply py-3;
}
.header,
.info,
.progress {
  @apply grid grid-cols-4 pb-2;
}

.progress {
  @apply py-3;
}
